In [1]:
import orchest
import psycopg2

postgres_host = orchest.get_service("postgres")["internal_hostname"]
conn = psycopg2.connect(dbname="postgres", user="postgres", host=postgres_host)

In [2]:
try:
    with conn.cursor() as cur:
        cur.execute(
            "CREATE TABLE users (id serial PRIMARY KEY, name varchar, email varchar);"
        )

        cur.execute(
            "INSERT INTO users (name, email) VALUES (%s, %s)",
            ("John", "john@example.io"),
        )
        cur.execute(
            "INSERT INTO users (name, email) VALUES (%s, %s)",
            ("Rick", "rick@example.io"),
        )
        cur.execute(
            "INSERT INTO users (name, email) VALUES (%s, %s)",
            ("Mary", "mary@example.io"),
        )
        cur.execute(
            "INSERT INTO users (name, email) VALUES (%s, %s)",
            ("Jane", "jane@example.io"),
        )

        conn.commit()
except:
    conn.rollback()

In [3]:
with conn.cursor() as cur:
    cur.execute("SELECT * FROM users;")
    print(cur.fetchall())

[(1, 'Juanlu', 'juanlu@orchest.io'), (2, 'Rick', 'rick@orchest.io'), (3, 'Yannick', 'yannick@orchest.io'), (4, 'Jacopo', 'jacopo@orchest.io')]

In [4]:
try:
    conn.set_isolation_level(psycopg2.extensions.ISOLATION_LEVEL_AUTOCOMMIT)
    conn.cursor().execute("CREATE DATABASE target_db;")
except:
    pass
finally:
    conn.set_isolation_level(psycopg2.extensions.ISOLATION_LEVEL_DEFAULT)